html, body, #app, .col-md-12 {
  height: 100%;
  width: 100%;
}
.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
}
.box-container {
  max-height: 400px;
  overflow-y: auto;
}
#app, .container-after-titlebar {
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
}
.map-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  height: -o-calc(100% - 40px); /* opera */
  height: -webkit-calc(100% - 40px); /* google, safari */
  height: -moz-calc(100% - 40px); /* firefox */
}
#overlay {
position: fixed; /* Sit on top of the page content */
width: 250px; /* Full width (cover the whole page) */
height: 10px; /* Full height (cover the whole page) */
top: 5%;
left: 2%;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); /* Black background with opacity */
z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
cursor: pointer; /* Add a pointer on hover */
}
#overlay-logos {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 150px; /* Full height (cover the whole page) */
  top: 88%;
  left: 1%;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  }
#map {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.save-selection {
  position: absolute;
  margin-top: -45px !important;
  margin-left: 8px;
}
.inwards_button{
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    background-color: #10556A;
    border-color: #fff;
    width: 100%;
    border-radius: 0;
    
}
.inwards_button:hover {
  background-color: #4CAF50;
  color: white;
}
.inwards_button_group{
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  background-color: #10556A;
  border-color: #10556A;
  width: 100%;
  border-radius: 0;
}
.inwards_button_group:hover {
  background-color: #4CAF50;
  color: white;
}

.inwards_card{
    background-color: #10556A;
    border-color: #10556A;
    height: 100%;
    width: 100%;
    color: #f1f1f1;
    padding-bottom: 0.1rem;
    padding-top: 0.4rem;
    padding-left: 0.6rem;

}
.inwards_search{
  background-color: #10556A;
  border-color: #10556A;
  height: 100%;
  width: 100%;
  color: #f1f1f1;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
.chart-container {
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}
.inwards_button .fa {
    padding-right: 4px;
}
.c3-axis-y text
{
  font-size: 12px;
}

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.table {
    border: none;
    color: #272e38;
}

.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.table td {
    vertical-align: middle;
}

.page-item > * {
    border: none;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer;
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #4CAF50;
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #4CAF50;
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  }
 
.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  background: white;
  border-radius: 5px;
}
.modal_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wma-toggle {
  margin-left: 10px;
}
#refresh-stations {
  float:right; 
  color: white;
}
#refresh-stations:hover {
  cursor: pointer;
}
.jstree-icon .jstree-themeicon .jstree-themeicon-custom {
  font-size: 0.8rem;
}

.jstree-node  .jstree-leaf {
  font-size: 0.8rem;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.list-container {

  border: 1px solid #eee;
  border-radius: 2px;
  background: #fff;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;

  -webkit-align-items: center;
          align-items: center;  

  -webkit-justify-content: space-around;
          justify-content: space-around;

}


.spinner-list {

/*  width: 200px;
  height: 150px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;*/



  display: -webkit-flex;
  display: flex;

  -webkit-flex: 0 1 auto;
         flex: 0 1 auto;

  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  
  width: 200px;
  height: 200px;
  -webkit-align-items: center;
         align-items: center;
  -webkit-justify-content: center;
         justify-content: center;
}
.loading_disks {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
nav > .nav.nav-tabs{

    border: white;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link
{
  border: white;
  border-width: 0.2rem;
  padding: 18px 25px;
  color:#fff;
  background:#272e38;
  border-radius:0;  
}
nav > div a.nav-item.nav-link.active
{
    border: white;
    border-width: 0.2rem;
    padding: 18px 25px;
    color:#fff;
    background:#10556A;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -56px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #272e38 ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 5px;
    border: 1px solid #ddd;
    border-top:5px solid #272e38;
    border-bottom:5px solid #272e38;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover
{
  border: none;
    background: #4CAF50;
    color:#fff;
    border-radius:0;
    transition: background 0.20s linear;
}
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #10556A;
    color:#fff;
    border-radius:0;
    transition: background 0.20s linear;
}
.multiselect__tag {
  background: #272e38;
  color:#fff;
  border-radius:0;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
   border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.container-fluid-logo {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}
.grid-logo {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(85px, 2fr));
grid-gap: 0.4rem;
height: 90px;
}
.grid-logo > div {
background: rgba(255, 255, 255, 0.9);
padding: 0.4rem;
display: grid;
place-items: center;    
border: 0.1px solid rgb(252, 250, 250);    
-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, 0);
-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, 0);
box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.grid-logo > div::before {
content: "";
display: block;
padding-bottom: 0%;
grid-area: 1/1/2/2;
}
.grid-logo > div img {
width: 100%;
grid-area: 1/1/2/2;
}
.grid-award {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 2fr));
  grid-gap: 0.4rem;
  height: 90px;
  }
  .grid-award > div {
  background: rgba(255, 255, 255, 0.9);
  padding: 0.4rem;
  display: grid;
  place-items: center;    
  border: 0.1px solid rgb(252, 250, 250);    
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, 0);
  }
  .grid-award > div::before {
  content: "";
  display: block;
  padding-bottom: 0%;
  grid-area: 6/6/2/2;
  }
  .grid-award > div img {
  width: 100%;
  grid-area: 6/6/2/2;
  }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#content, html, body {
  height: 98%;
}
.left-panel {
  margin: 0 auto;
  float: left;
  width: 50%;
  background: red;
  height: 100%;
  overflow: scroll;
}
.right-panel {
  margin: 0 auto;
  float: left;
  width: 50%;
  background: blue;
  height: 100%;
  overflow: scroll;
}
.grid {
  position: relative;
  padding-top: 0;
  margin-top: 0rem;
}
.muuri-container {
  overflow-y: auto;
  padding-top: 2px;
  margin-bottom: 2px;
  margin-top: 0rem;
}
.item {
  display: block;
  position: absolute;
  margin: 0;
  z-index: 1;
  width: 49%;
  min-height: 455px;
  padding-right: 0;
  margin-top: 0rem;
  padding-top: 0;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 8.1rem;
  border-radius: 0px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  font-size: 10px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #818181;
  border-radius: 0 0 0 0;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #818181;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #818181;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #818181;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #818181;
  background-color: #ccc;
  font-size: 6px;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #10556A;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
.form-check-inline {

  margin-right: 0.0rem;

}
hr{
  margin: 0em;
  margin-block-start: 0.2em;
  margin-block-end: 0em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.datepicker{
  font-size: 13px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;

}
tr{
  font-weight: normal;
}
h6{
  margin: 0.1em;
}
.uwasp_button{
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  background-color: #4CAF50;
  border-color: #fff;
  width: 100%;
  border-radius: 0;
  
}
.uwasp_button:hover {
background-color: #10556A;
color: white;
}
.uwasp_button_group{
font-family: "Source Sans Pro", sans-serif;
color: #fff;
cursor: pointer;
font-size: 1rem;
background-color: #4CAF50;
border-color: #4CAF50;
width: 100%;
border-radius: 0;
}
.uwasp_button_group:hover {
background-color: #4CAF50;
color: white;
}
.numberCircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;

  background: rgb(255, 255, 255);
  border: 2px solid #10556A;
  color: rgb(0, 0, 0);
  text-align: center;

  font: 22px Arial, sans-serif;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:1px; }
.watermarked {
  position: relative;
}

.watermarked:after {
  content: "Site photograph source: DWS";
  background-color: rgba(0, 0, 0, 0.34);
  color: white;
  display: block;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 1%;
  background-size: 100px 100px;
  background-position: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.7;
}
